{% load url from future %}

<div class='rightdiv'>
    <h3>Popularne</h3>
    <ul>
        <li>Link1</li>
        <li>Link2</li>
        <li>Link3</li>
    </ul>
    
</div>
<div class='rightdiv'>
    <h3>Polityka</h3>    
    <ul>
        <li>Link1</li>
        <li>Link2</li>
        <li>Link3</li>
    </ul>
</div>
<div class='rightdiv'>
    <h3>Ekonomia</h3>
    <ul>
        <li>Link1</li>
        <li>Link2</li>
        <li>Link3</li>
    </ul>
</div>
<div class='rightdiv'>
    <h3>Kultura</h3>
    <ul>
        <li>Link1</li>
        <li>Link2</li>
        <li>Link3</li>
    </ul>
</div>
<div class='rightdiv'>
    <h3>Sport</h3>
    <ul>
        <li>Link1</li>
        <li>Link2</li>
        <li>Link3</li>
    </ul>
</div>
